<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.eterverda.playless">

    <application>
        <service android:name=".AutoUpdateService"
                 android:label="@string/playless_service_label"
                 android:enabled="@bool/playless_enabled"/>
    </application>
</manifest>
